@model IEnumerable<APS.Data.Models.Factura>
@{
    ViewData["Title"] = "Lista de Facturas";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center mb-4" style="color: #0c3c60;">Lista de Facturas</h2>

    <div class="d-flex justify-content-between mb-3">
        <a href="@Url.Action("Create")" class="btn text-black" style="background-color: #83CCCA; border-radius: 8px;">
            <i class="fas fa-plus"></i> Agregar Nueva Factura
        </a>
        
    </div>

    <a class="btn-IA-Tecnico" asp-controller="TecnicoIA" asp-action="Index">
        <i class ="fas fa-robot"></i>
    </a>

    <div class="card shadow-lg mb-4">
        <div class="card-header text-white" style="background-color: #0C3C60; border-radius: 10px 10px 0 0;">
            <i class="fas fa-file-invoice-dollar me-1"></i> Tabla de Facturas
        </div>
        <div class="card-body">
            <table class="table table-hover text-center" id="TablaFacturas">
                <thead style="color: #0C3C60;">
                    <tr>
                        <th>Cliente</th>
                        <th>Dirección</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Total con IVA (13%)</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var factura in Model)
                    {
                        var totalConIVA = factura.Total * 1.13m; // Calcular el total con IVA
                        <tr>
                            <td>@factura.NombreCliente</td>
                            <td>@factura.DireccionCliente</td>
                            <td data-order="@factura.Fecha.Ticks">@factura.Fecha.ToString("dd/MM/yyyy")</td>
                            <td>₡@factura.Total.ToString("N2")</td>
                            <td>₡@totalConIVA.ToString("N2")</td>
                            <td>
                                <a href="@Url.Action("Detalle", new { id = factura.FacturaID })" class="btn btn-sm text-white" style="background-color: #00A5CF; border-radius: 5px;">
                                    <i class="fas fa-eye"></i> Ver Detalle
                                </a>
                                <a href="@Url.Action("Edit", new { id = factura.FacturaID })" class="btn btn-sm text-white" style="background-color: #FFD700; border-radius: 5px;">
                                    <i class="fas fa-edit"></i> Editar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


