@model IEnumerable<APS.Data.Models.Equipo>

<h1>Reporte de Equipo</h1>

@foreach (var equipo in Model)
{
    <p><strong>Marca:</strong> @equipo.Marca</p>
    <p><strong>Modelo:</strong> @equipo.Modelo</p>
    <p><strong>Nombre del Cliente:</strong> @equipo.NombreCliente</p>
    <p><strong>Motivo de Ingreso:</strong> @equipo.MotivoIngreso</p>
    <p><strong>Contraseña del Equipo:</strong> @equipo.ContraseñaEquipo</p>
    <p><strong>Descripción:</strong> @equipo.Descripcion</p>
    <p><strong>Fecha de Ingreso:</strong> @equipo.FechaIngreso.ToString("dd/MM/yyyy")</p>
}
