@model APS.Data.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="mb-4">User Details</h1>

<div class="card shadow mb-4">
    <div class="card-header bg-info text-white">
        <h4 class="card-title mb-0">User Information</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Username)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <a asp-action="Edit" asp-route-id="@Model?.UserId" class="btn btn-warning me-2">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
