@model IEnumerable<APS.Data.Models.User>

@{
    ViewData["Title"] = "Lista de Usuarios";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Lista de Usuarios</h2>
    <a href="@Url.Action("Create")" class="btn btn-primary mb-3">Agregar Nuevo Usuario</a>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Nombre de Usuario</th>
                <th>Correo Electrónico</th>
                <th>Fecha de Registro</th>
                
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.CreatedAt</td>
                    
                    <td>
                        <a href="@Url.Action("Details", new { id = user.UserId })" class="btn btn-info btn-sm">Detalles</a>
                        <a href="@Url.Action("Edit", new { id = user.UserId })" class="btn btn-warning btn-sm">Editar</a>
                        <a href="@Url.Action("Delete", new { id = user.UserId })" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
